%tr{:id=>"fieldset_#{fieldset.id}", :style => "background:#eee;"}
  %td
    .handle-sort.btn-default.btn.btn-xs
      %i.fa.fa-arrows
  %td{:colspan => "7", :style => "font-weight:bold;"}
    = fieldset.title
  %td
    = fieldset.private
  %td.actions
    = link_to [:edit, fieldset.question_group, fieldset], :class => "btn btn-primary btn-xs", :title => t('edit'), :"data-toggle"=>"tooltip" do
      %i.fa.fa-edit
    = link_to [fieldset.question_group, fieldset], :method => :delete, data: { confirm: t("delete_confirmation") }, :class => "btn btn-danger btn-xs", :title => t('delete'), :"data-toggle"=>"tooltip" do
      %i.fa.fa-trash-o
    %input{:type => "hidden", :id => "fieldset_#{fieldset.id}_position", :name => "positions[fieldsets][#{fieldset.id}]", :value => fieldset.position}