<h1><%= question_group.new_record? ? "Nouveau formulaire" : "Edition du formulaire" %></h1>
<hr>
<%= form_for question_group do |f| %>
  <%- if question_group.errors.any? %>
    <ul>
      <%- question_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="form-group">
    <%= f.label :name, :class => "form-group-title" %>
    <%= f.text_field :name, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :type, :class => "form-group-title" %>
    <br>
    <%= f.select :type_cd, enum_option_pairs(Rapidfire::QuestionGroup, :type, true) %>
  </div>

  <div class="form-group">
    <%= f.label :header, :class => "form-group-title" %>
    <%= f.text_area :header, :class => "form-control tinymce" %>
  </div>
  <div class="form-group">
    <%= f.label :final_text, :class => "form-group-title" %>
    <%= f.text_area :final_text, :class => "form-control tinymce" %>
  </div>
  <div class="form-group">
    <%= f.label :final_link, :class => "form-group-title" %>
    <%= f.text_field :final_link, :class => "form-control" %>
    <p class="help-block"><%= f.label :final_link_help %></p>
  </div>
  <%= tinymce %>

  <div class="form-group">
    <%= f.submit t("submit"), :class => "btn btn-primary" %>
  </div>
<% end %>
